@import 'variables';
@import 'mixins';

html {
  overflow-x: hidden;
  font-size: 62.5%;

  @include below($xl) {
    font-size: 48%;
  }

  @include below($lg) {
    font-size: 62.5%;
  }

  // Блокировать скролла
  &.css-scroll-fixed:not(.open-only-mob) {
    @include scroll-blocked;
  }

  // Не блокировать скролл, если есть класс open-only-mob
  &.css-scroll-fixed.open-only-mob {
    @include below($lg) {
      @include scroll-blocked;
    }
  }
}

body {
  min-width: $layout-page-min-width;
  @include font-normal;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background: $bg-color url(../images/bg-stars.png) no-repeat 43.9% 14rem;
  overflow-x: hidden;

  // ------ mob -----------------------------------------
  @include below($sm) {
    font-size: $font-size--mob;
    line-height: $line-height--mob;
  }
}

.layout-page {
  max-width: $layout-page-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $layout-page-space-l;
  padding-right: $layout-page-space-r;

  @include below($xxxl) {
    padding-left: $layout-page-space_md;
    padding-right: $layout-page-space_md;
  }

  @include below($sm) {
    padding-left: $layout-page-space_sm;
    padding-right: $layout-page-space_sm;
  }
}

.layout-max-wrap {
  max-width: $layout-max-wrap;
  margin-left: auto;
  margin-right: auto;
}

.layout-content {
  max-width: $layout-content-max-width;
}

.layout-narrow {
  max-width: $layout-narrow-max-width;
}

.layout-form {
  max-width: $layout-form-max-width;
}

.layout-single-form {
  max-width: $layout-single-form-max-width;
}

.layout-content,
.layout-narrow,
.layout-form,
.layout-single-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &_align-left {
    margin-left: 0;
    margin-right: 0;
  }

  &_align-right {
    margin-right: 0;
  }
}

.note {
  padding: 2.6rem 1.6rem;
  font-style: italic;
  background-color: rgba(#ceebe9, 0.3);
  border-radius: 1rem;

  mark {
    background: none;
    color: #f00;
  }
}

.date {
  display: inline-block;
  vertical-align: top;
  @include font-alt-medium;

  font-size: 1.2rem;
  line-height: 1;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1.4rem;
  background: #dbefee;
}