.bottom-space {
  margin-bottom: $bottom-space;

  @include below($sm) {
    margin-bottom: $bottom-space_mob;
  }
}

.section-space {
  margin-bottom: $bottom-section;

  @include below($sm) {
    margin-bottom: $bottom-section_mob;
  }
}

.mark {
  color: $mark-color;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.push-auto {
  margin-left: auto;
  margin-right: auto;
}

.line-through {
  text-decoration: line-through;
}

.reset-line-height {
  line-height: 1;
}

.nobr {
  white-space: nowrap;
}

.hide {
  display: none !important;
}

.hide-text {
  @include hide-text;
}

.desktop-only {
  @include below($lg) {
    display: none;
  }
}

.devices-only {
  @include above($lg) {
    display: none;
  }
}

.mobile-only {
  @include above($sm) {
    display: none;
  }
}

.color-inherit {
  color: inherit;
}

.decor-none {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ff-spec {
  font-family: $font-special;
}

.has-icon {
  display: inline-block;
  vertical-align: top;
  padding-left: 1.6em;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0.2em;
    height: 0.94em;
    width: 0.94em;
    background: no-repeat center / contain;
  }

  &_tel {
    &::before {
      background-image: url(../images/icon-phone.svg);
    }
  }

  &_email {
    &::before {
      background-image: url(../images/icon-email.svg);
    }
  }
}

.link-reset {
  text-decoration: none;
  color: inherit;
  transition: color $animation-speed;

  &:hover {
    color: $highlight-color;
  }
}