.btn-more {
  $size: 7.8rem;

  position: relative;
  display: inline-block;
  vertical-align: top;
  height: $size;
  width: $size;
  border-radius: $size;
  background: #fff;
  box-shadow: 0 0 2px rgba(#000, 0.268193);
  transition: all $animation-speed;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  @include below($lg) {
    $size: 5rem;

    height: $size;
    width: $size;
    border-radius: $size;
    box-shadow: 0 0 2px rgba(#000, 0.5);
  }

  svg {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 4.7rem;
    width: 4rem;
    margin: -2.3rem -2rem;

    @include below($lg) {
      height: 2.8rem;
      width: 2.4rem;
      margin: -1.4rem -1.2rem;
    }

    path {
      fill: currentColor;
    }
  }

  &:hover {
    background-color: $highlight-color;
    color: #fff;
  }

  &:active {
    transform: scale3d(0.95, 0.95, 1);
  }

  &.active {
    animation: rotate 0.6s linear infinite both;
    pointer-events: none;
  }

  @keyframes rotate {
    from {
      transform: rotate(0) scale3d(1, 1, 1);
    }

    50% {
      transform: rotate(-0.5turn) scale3d(0.9, 0.9, 1);
    }

    to {
      transform: rotate(-1turn) scale3d(1, 1, 1);
    }
  }
}
