.nav {
  $space-h: 0;
  $space-v: 1rem;

  @include font-alt-semi-bold;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $text-color;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 -#{$space-h} -#{$space-v};

    @include below($lg) {
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__li {
    $li: &;

    position: relative;
    margin: 0 #{$space-h} #{$space-v};

    @include below($lg) {
      margin-left: 0;
      margin-right: 0;
    }

    &.has-drop {
      padding-right: 2.8rem;
    }

    &-el {
      $el: &;

      display: inline-block;
      vertical-align: top;
      position: relative;
      padding: 0.6rem 1.2rem;
      color: currentColor;
      text-decoration: none;
      transition: color $animation-speed;
      border-radius: 2rem;
      user-select: none;

      @at-root {
        // if link
        a#{$el} {
          // :hover
          &:hover {
            color: $link-color;
          }
        }

        // .current
        #{$li}.current & {
          color: #fff;
          background-color: $link-color;
        }
      }
    }
  }
}
