.catalog {
  $space-v: 8rem;
  $space-v_lg: 4rem;

  &__item {
    margin: 0 0 #{$space-v};

    @include below($lg) {
      padding: 0 0 #{$space-v_lg};
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
