.dl-list {
  font-size: 1.6rem;
  line-height: 1.9rem;

  &__li {
    padding: 0.5rem 0;
    cursor: default;
  }

  &__t {
    display: inline;
    color: #9d9d9d;
    margin-right: 0.5rem;
  }

  &__d {
    display: inline;
    font-style: italic;
  }
}
