.anim-toggle-out {
  @include above($lg) {
    animation: toggleOutShow 1.6s cubic-bezier(0, 1, 0.2, 1) both;

    &.active {
      animation: toggleOutHide 1.2s cubic-bezier(0, 1, 0.2, 1) both;
    }
  }

  &.always-show {
    animation: toggleOutShow 1.6s cubic-bezier(0, 1, 0.2, 1) both;

    &.active {
      animation: toggleOutHide 1.2s cubic-bezier(0, 1, 0.2, 1) both;
    }
  }
}

@keyframes toggleOutShow {
  from {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    //transform: translate3d(30%, 0, 0);
    //transform: scale3d(0.95, 0.95, 1);
    transform: translate3d(-5%, 0, 0);
    //z-index: -1;
  }

  to {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    //transform: translate3d(0, 0, 0);
    //transform: scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0);
    //z-index: auto;
  }
}

@keyframes toggleOutHide {
  from {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    //transform: translate3d(0, 0, 0);
    //z-index: auto;
  }

  to {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    //transform: translate3d(30%, 0, 0);
    //z-index: -1;
  }
}

.anim-toggle-in {
  @include above($lg) {
    animation: toggleInHide 1s cubic-bezier(0, 1, 0.2, 1) both;

    &.active {
      animation: toggleInShow 1.6s cubic-bezier(0, 1, 0.2, 1) both;
    }
  }

  &.always-show {
    animation: toggleInHide 1s cubic-bezier(0, 1, 0.2, 1) both;

    &.active {
      animation: toggleInShow 1.6s cubic-bezier(0, 1, 0.2, 1) both;
    }
  }
}

@keyframes toggleInShow {
  from {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translate3d(-5%, 0, 0);
    //z-index: auto;
  }

  to {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    //z-index: -1;
  }
}

@keyframes toggleInHide {
  from {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    //z-index: -1;
  }

  to {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translate3d(-5%, 0, 0);
    //z-index: auto;
  }
}

.anim-cloud {
  animation: cloud 12s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s infinite alternate;
}

@keyframes cloud {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(0);
  }
  0% {
    transform: translate3d(-10%, 0, 0) rotateZ(-5deg);
  }
  100% {
    transform: translate3d(10%, 0, 0) rotateZ(5deg);
  }
}

.anim-toys-1 {
  animation: toys 13s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform-origin: 50% 90%;
}

.anim-toys-2 {
  animation: toys 12s 0.3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform-origin: 50% 90%;
}

.anim-toys-3 {
  animation: toys 14s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform-origin: 50% 90%;
}

@keyframes toys {
  0% {
    transform: translate3d(0, 0, 0) rotateZ(0);
  }
  50% {
    transform: translate3d(12%, 0, 0) rotateZ(8deg);
  }
  100% {
    transform: translate3d(-12%, 0, 0) rotateZ(-8deg);
  }
}