.content {
  $block-name: &;
  $space-h: 3rem;

  display: flex;
  align-items: flex-start;
  margin: 0 -#{round-float($space-h / 2, 1)};

  @include below($lg) {
    display: block;
    margin: 0;
  }

  &__body {
    position: relative;
    flex-grow: 1;
    max-width: 100%;
    padding: 1.1rem #{round-float($space-h / 2, 1)};

    @include below($lg) {
      //padding: 2rem 0 0;
      padding: 0;
    }

    @at-root {
      #{$block-name}__sidebar ~ & {
        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 14rem;
          bottom: 2rem;
          border-right: 1px solid #e7eae9;

          @include below($lg) {
            display: none;
          }
        }
      }
    }
  }

  &__sidebar {
    $width: 28.3rem;

    position: relative;
    flex: 1 0 $width;
    max-width: $width;
    padding: 0 #{round-float($space-h / 2, 1)};

    @include above($lg) {
      display: block !important;
    }

    @include below($lg) {
      width: auto;
      max-width: none;
      padding: 0 0 4rem;
      display: none;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -1px;
      top: 14rem;
      bottom: 2rem;
      border-right: 1px solid #e7eae9;

      @include below($lg) {
        display: none;
      }
    }
  }
}
