.btn-to-top {
  $size: 7.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 2.5rem;
  bottom: 42%;
  z-index: 998;
  height: $size;
  width: $size;
  color: #b0d8d5;
  border-radius: $size;
  background-color: #fff;
  transition: background-color $animation-speed, color $animation-speed, transform $animation-speed;
  transform: translate3d(20rem, 0, 0) rotate(0.5turn);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.27);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  svg {
    display: block;
    height: 2.8rem;
    width: 2.8rem;

    path {
      stroke: currentColor;
    }
  }

  &.active {
    transition: background-color $animation-speed, color $animation-speed, transform $animation-speed 0.3s;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  &:hover {
    background-color: $highlight-color;
    color: white;
  }
}