.btn-to-top {
  $size: 7.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 2.5rem;
  bottom: 42%;
  z-index: 45;
  height: $size;
  width: $size;
  border-radius: $size;
  color: #b0d8d5;
  background-color: #fff;
  transition: background-color $animation-speed, color $animation-speed, transform $animation-speed;
  transform: translate3d(20rem, 0, 0) rotate(0.5turn);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.27);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  @include below($lg) {
    $size: 5rem;

    height: $size;
    width: $size;
    border-radius: $size;
    right: $layout-page-space_md;
    bottom: 21rem;
    box-shadow: 0 2px 4px rgba(#000, 0.27);
  }

  @include below($sm) {
    right: $layout-page-space_sm;
    bottom: 7.5rem;
  }

  svg {
    display: block;
    height: 2.8rem;
    width: 2.8rem;

    @include below($lg) {
      height: 1.8rem;
      width: 1.8rem;
    }

    path {
      stroke: currentColor;
    }
  }

  &.active {
    transition: background-color $animation-speed, color $animation-speed, transform $animation-speed 0.3s;
    transform: translate3d(0, 0, 0) rotate(0);
  }

  &:hover {
    background-color: $highlight-color;
    color: white;
  }
}