.prods {
  &__title {
    @include font-special;

    font-weight: normal;
    font-size: 10rem;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 2rem;
    padding-left: 4rem;
  }

  &__item {
    display: none;

    &.active {
      display: block;
    }
  }
}
