.widget-cat {
  $widget: &;

  &__photo {
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;

    &-img {
      display: block;
      margin: 0 auto;
    }
  }

  &__content {
    padding: 0 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &-layout {
      text-align: left;
    }
  }

  &__title {
    @include font-alt-bold;

    color: $text-color;
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
}
