.widget-cat {
  $widget: &;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-decoration: none;
  color: inherit;

  &__figure {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 15rem;

    &::before {
      content: "";
      display: block;

      @include ratio(150, 206);
    }

    &-inner {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-img {
      transition: transform $animation-speed;
      transform-origin: top center;

      #{$widget}:hover & {
        transform: scale3d(1.05, 1.05, 1);
      }
    }
  }

  &__title {
    @include font-alt-bold;

    font-size: 2.4rem;
    line-height: 2.8rem;
    color: $text-color;

    @include below($lg) {
      font-size: 2rem;
      line-height: 2.4rem;
    }

    @include below($md) {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
  }
}
