.categories {
  &__title {
    @include font-special;

    font-weight: normal;
    font-size: 10rem;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    margin-bottom: -0.5rem;
  }

  &__items {
    text-align: center;
  }

  &__item {
    display: none;

    &.active {
      display: block;
    }
  }
}
