.share-aside {
  overflow: hidden;
  background-color: #fff;
  border-radius: 3.9rem;
  box-shadow: 0 0 2px rgba(#000, 0.268193);
  padding: 2.1rem 0 4.2rem;

  @include below($lg) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.4rem 1.8rem 0.7rem;
  }

  &__item {
    $size: 3.8rem;

    height: $size;
    width: $size;
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: left;
    color: #afb5bb;
    text-decoration: none;
    transition: all $animation-speed;

    &:not(:last-child) {
      margin: 0 auto 0.7rem;

      @include below($lg) {
        margin: 0 0.2rem 0.7rem;
      }
    }

    & > span {
      @include hide-text;
    }

    svg,
    img {
      $size: 2rem;
      $int: round-float($size / 2, 1);

      display: inline-block;
      vertical-align: top;
      position: absolute;
      top: 50%;
      left: 50%;
      height: $size;
      width: $size;
      margin: -#{$int} 0 0 -#{$int};

      @include below($lg) {
        $size: 2.4rem;
        $int: round-float($size / 2, 1);

        height: $size;
        width: $size;
        margin: -#{$int} 0 0 -#{$int};
      }
    }

    path {
      fill: currentColor;
    }

    &:hover {
      color: $highlight-color;
    }
  }
}
