.cat-slider {
  $slider: &;

  position: relative;
  padding: 0 10rem;

  html:not(.no-js) &:not(.is-loaded) {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
  }

  .swiper-container {
    //overflow: visible;
  }

  &__slide {
    position: relative;
    transition: opacity $animation-speed, visibility $animation-speed;
    opacity: 0;
    visibility: hidden;
    padding: 0 1.5rem;

    &.swiper-slide-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__button {
    $size-h: 6.7rem;
    $size-w: 3.5rem;

    position: absolute;
    top: 28.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $size-h;
    width: $size-w;
    margin-top: -#{round-float($size-h / 2, 1)};
    color: white;
    background-color: transparent;
    transition: color $animation-speed, transform 0.1s;
    user-select: none;
    cursor: pointer;
    z-index: 5;

    svg {
      display: block;
      height: 100%;
      width: 100%;
    }

    path {
      stroke: currentColor;
    }

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
    }

    // :hover
    &:not(.swiper-button-disabled):hover {
      color: $highlight-color;
    }

    // :focus
    &:focus {
      outline: none;
    }

    :active &:not(.swiper-button-disabled):active {
      transform: translate(0, 2px);
    }

    // Disabled
    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }
}
