.content-with-sidebar {
  $space-h: 3rem;

  display: flex;
  align-items: flex-start;
  margin: 0 -#{round-float($space-h / 2, 1)};

  &__content {
    position: relative;
    flex-grow: 1;
    padding: 0 #{round-float($space-h / 2, 1)};

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-right: 1px solid #e7eae9;
    }
  }

  &__sidebar {
    $width: 29.4rem;

    position: relative;
    flex: 1 0 $width;
    max-width: $width;
    padding: 0 #{round-float($space-h / 2, 1)};

    @include below($lg) {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 32rem;
      padding: 0;
      max-width: none;
      border: 0;
      z-index: 9995;
      transform: translate(-100%, 0);
      transform: translate3d(-100%, 0, 0);
      will-change: transform;
      transition: transform 0.25s;
    }

    &.filters-menu-is-open {
      transform: translate(0, 0);
      transform: translateX(0);
    }
    
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: -1px;
      top: 0;
      bottom: 0;
      border-right: 1px solid #e7eae9;
    }
  }
}
