.base {
  $base: &;

  position: relative;
  display: flex;
  align-items: flex-start;
  z-index: 5;

  &__aside {
    $width: 14.1rem;

    flex: 1 0 $width;
    max-width: $width;
    position: relative;
    margin-right: 4rem;
    z-index: 15;
  }

  &__body {
    position: relative;
    padding: 5rem 0 10rem;
    flex-grow: 1;
    z-index: 20;
  }

  &__content {
    position: relative;
    padding: 0 0 0;
  }

  &__share {
    $width: 7.8rem;

    flex: 1 0 $width;
    max-width: $width;
    position: relative;
    margin: 16rem 0 0 5.5rem;
    z-index: 15;
  }

  &__section {
    &_space-smallest {
      margin-bottom: 2.5rem;

      @include below($md) {
        margin-bottom: 2rem;
      }
    }

    &_space-small {
      margin-bottom: 3rem;

      @include below($md) {
        margin-bottom: 2.5rem;
      }
    }

    &_space-normal {
      margin-bottom: 4rem;

      @include below($md) {
        margin-bottom: 3rem;
      }
    }

    &_space-large {
      margin-bottom: 5rem;

      @include below($md) {
        margin-bottom: 4rem;
      }
    }

    &_space-largest {
      margin-bottom: 8rem;

      @include below($md) {
        margin-bottom: 6rem;
      }
    }

    &_promo {
      position: relative;
      z-index: 14;
    }

    &_heading {
      margin-bottom: 2rem;
    }

    &_hide {
      display: none;

      &-lg {
        @include below($lg) {
          display: none;
        }
      }

      &-md {
        @include below($md) {
          display: none;
        }
      }

      &-sm {
        @include below($sm) {
          display: none;
        }
      }
    }

    &_show {
      display: block;

      &-lg {
        @include below($lg) {
          display: block;
        }
      }

      &-md {
        @include below($md) {
          display: block;
        }
      }

      &-sm {
        @include below($sm) {
          display: block;
        }
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__prods {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    &-layout {
      width: 89.4rem;
      margin: 0 auto;
    }

    &-close {
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 2rem 0 0 5rem;
      padding-left: 3rem;
      @include font-alt-bold;

      font-size: 2.4rem;
      line-height: 2.8rem;
      color: #fff;
      text-decoration: none;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0.6rem;
        z-index: -1;
        height: 1.6rem;
        width: 1.6rem;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxMyAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuNSAxNy41TDIuNSA5LjkxMzA3TDEwLjUgMi41IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==) no-repeat center / contain;
        transition: transform $animation-speed, opacity $animation-speed;
        opacity: 0;
        transform: translate3d(1.5rem, 0, 0);
      }

      &:hover {
        outline: none;

        &::before {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
      }
    }
  }

  &__canvas {
    position: absolute;
    left: -2rem;
    top: -2rem;
    right: -2rem;
    bottom: -2rem;
    z-index: -2;
    background: url(../images/bg-content.png) no-repeat center / 100% 100%;

    @at-root {
      // If aside has added
      #{$base}__aside ~ & {
        left: 16rem;
      }

      // If share has added
      #{$base}__aside ~ & {
        right: 11rem;
      }
    }
  }

  &__btn-more {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 0;
    top: 7rem;
  }
}
