.base {
  position: relative;

  &__layout {
    position: relative;
    display: flex;
    align-items: flex-start;

    &-controls {
      $width: 14.1rem;

      flex: 1 0 $width;
      max-width: $width;
      position: relative;
      margin-right: 2rem;
      z-index: 15;
    }

    &-content {
      position: relative;
      flex-shrink: 0;
      flex-grow: 1;
    }

    &-share {
      $width: 7.8rem;

      flex: 1 0 $width;
      max-width: $width;
      position: relative;
      margin-left: 5.5rem;
      padding-top: 16rem;
      z-index: 15;
    }
  }

  &__section {
    margin-bottom: 6rem;

    @include below($md) {
      margin-bottom: 4rem;
    }

    &_space-smallest {
      margin-bottom: 2.8rem;

      @include below($md) {
        margin-bottom: 2rem;
      }
    }

    &_space-small {
      margin-bottom: 3.5rem;

      @include below($md) {
        margin-bottom: 2.5rem;
      }
    }

    &_space-large {
      margin-bottom: 8rem;

      @include below($md) {
        margin-bottom: 5rem;
      }
    }

    &_space-largest {
      margin-bottom: 10rem;

      @include below($md) {
        margin-bottom: 6rem;
      }
    }

    &_align-center {
      text-align: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__products {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    z-index: 14;

    &.active {
      display: block;
    }

    &-layout {
      width: 89.4rem;
      margin: 0 auto;
    }
  }

  &__promo {
    position: relative;
    z-index: 14;
  }
}
