.footer {
  position: relative;
  color: #96a49f;
  font-size: 1.8rem;
  line-height: 2.2rem;

  @include below($lg) {
    overflow: hidden;
  }

  @include below($sm) {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  &__holder {
    position: relative;
    z-index: 3;
    padding: 28.5rem 0 0;
    overflow: hidden;

    @include below($lg) {
      padding: 19.5rem 0 0;
    }
  }

  &__container {
    padding-bottom: 5.3rem;
    background-color: #fff;

    @include below($lg) {
      padding-bottom: 4rem;
    }
  }

  &__boxes {
    display: flex;
    align-items: flex-start;
    margin: 0 -1rem;
    padding: 0 7.1rem 0 16rem;

    @include below($xxxl) {
      padding: 0 4rem 0 8rem;
    }

    @include below($lg) {
      padding: 0;
    }

    @include below($sm) {
      display: block;
      margin: 0;
    }
  }

  &__box {
    $width: 50%;

    flex: 1 0 $width;
    max-width: $width;
    padding: 0 1rem;

    @include below($sm) {
      padding: 0;
      max-width: none;
      margin-bottom: 1rem;
    }

    &:last-child {
      text-align: right;

      @include below($sm) {
        text-align: left;
        margin-bottom: 0;
      }
    }
  }

  &__row {
    margin: 0 -4.5rem 5.5rem;

    @include below($xxl) {
      margin-left: -2rem;
      margin-right: -2rem;
    }

    @include below($lg) {
      margin: 0 0 4rem;
    }

    @include below($sm) {
      margin: 0 0 3rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: top;
    padding: 0 4.5rem;

    @include below($xxl) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include below($lg) {
      display: block;
      padding: 0;
    }

    &:not(:last-child) {
      @include below($lg) {
        margin-bottom: 2.5rem;
      }
    }

    &_search {
      width: 36.3rem;
      margin: -0.9rem 0;

      @include below($lg) {
        width: auto;
      }

      @include below($sm) {
        margin: 0;
      }
    }
  }

  &__copyright {
    a {
      color: inherit;
      text-decoration: none;
      transition: color $animation-speed;

      &:hover {
        color: $highlight-color;
      }
    }
  }

  &__bg {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: no-repeat center / 100% 100%;
    }

    &_back {
      height: 80rem;
      bottom: 0;

      &::before {
        background-image: url(../images/bg-footer-back.png);
        top: 0;
        left: -8.3rem;
        height: 69.7rem;
        width: calc(100vw + 16.6rem);
      }

      @include below($lg) {
        display: none;
      }
    }

    &_front {
      height: 36.6rem;
      z-index: 2;
      top: 7rem;

      @include below($lg) {
        top: -3.5rem;
      }

      &::before {
        top: 0;
        left: -2.6rem;
        height: 77.8rem;
        background-image: url(../images/bg-footer-front.png);
        width: calc(100vw + 11.2rem);

        @include below($lg) {
          $width: 155.2rem;

          width: $width;
          height: 77.8rem;
          left: 50%;
          top: 12rem;
          margin-left: -#{floor-float($width / 2, 1)};
          background-size: 100% 100%;
          transform: scale(0.64);
          transform-origin: top center;
        }
      }
    }
  }

  &__toy {
    position: absolute;
    left: 50%;
    z-index: 1;

    &::before {
      content: "";
      display: block;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: no-repeat center / contain;
    }

    &_1 {
      //bottom: 24.7rem;
      top: 2.5rem;
      margin: 0 -50.7rem;
      width: 18.1rem;

      @include below($lg) {
        width: 10.6rem;
        margin: 0 -35rem;
        top: 5.5rem;
      }

      @include below($md) {
        margin: 0 -25rem;
      }

      @include below($sm) {
        margin: 0 -14rem;
      }

      &::before {
        @include ratio(181, 166);
      }

      span {
        background-image: url(../images/toy-01.svg);
      }
    }

    &_2 {
      //bottom: 27.6rem;
      top: -0.2rem;
      margin: 0 -28.3rem;
      width: 22.5rem;

      @include below($lg) {
        top: 4.8rem;
        margin: 0 -19.3rem;
        width: 13.1rem;
      }

      @include below($md) {
        margin: 0 -9rem;
      }

      @include below($sm) {
        margin: 0 1rem;
      }

      &::before {
        @include ratio(225, 164);
      }

      span {
        background-image: url(../images/toy-02.svg);
      }
    }

    &_3 {
      //bottom: 26rem;
      top: 9.3rem;
      margin: 0 5.6rem;
      width: 29.9rem;

      @include below($lg) {
        top: 9.9rem;
        margin: 0 0.8rem;
        width: 17.5rem;
      }

      @include below($md) {
        top: 10.2rem;
        margin: 0 2.8rem;
      }

      @include below($sm) {
        display: none;
      }

      &::before {
        @include ratio(299, 85);
      }

      span {
        background-image: url(../images/toy-03.svg);
      }
    }
  }
}
