.footer {
  position: relative;
  color: #96a49f;
  font-size: 1.8rem;
  line-height: 2.2rem;

  &__container {
    position: relative;
    z-index: 3;
    padding: 28.5rem 0 5.3rem;
    overflow: hidden;
  }

  &__boxes {
    display: flex;
    align-items: flex-start;
    margin: 0 -1rem;
    padding: 0 7.1rem 0 16rem;

    @include below($xxxl) {
      padding: 0 4rem 0 8rem;
    }
  }

  &__box {
    $width: 50%;

    flex: 1 0 $width;
    max-width: $width;
    padding: 0 1rem;

    &:last-child {
      text-align: right;
    }
  }

  &__row {
    margin: 0 -4.5rem 5.5rem;

    @include below($xxl) {
      margin-left: -2rem;
      margin-right: -2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: top;
    padding: 0 4.5rem;

    @include below($xxl) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    &_develop {
      margin-top: -2.6rem;
    }

    &_search {
      width: 36.3rem;
      margin-bottom: -1.7rem;
    }
  }

  &__bg {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: no-repeat center / 100% 100%;
    }

    &_back {
      height: 80rem;

      &::before {
        background-image: url(../images/bg-footer-back.png);
        top: 0;
        left: -8.3rem;
        height: 69.7rem;
        width: calc(100vw + 16.6rem);
      }
    }

    &_front {
      height: 36.6rem;
      z-index: 2;

      &::before {
        top: 0;
        left: -2.6rem;
        height: 77.8rem;
        background-image: url(../images/bg-footer-front.png);
        width: calc(100vw + 11.2rem);
      }
    }
  }

  &__toy {
    position: absolute;
    left: 50%;
    z-index: 1;

    &::before {
      content: "";
      display: block;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: no-repeat center / contain;
    }

    &_1 {
      bottom: 24.7rem;
      margin: 0 -50.7rem;
      width: 18.1rem;

      &::before {
        @include ratio(181, 166);
      }

      span {
        background-image: url(../images/toy-01.svg);
      }
    }

    &_2 {
      bottom: 27.6rem;
      margin: 0 -28.3rem;
      width: 22.5rem;

      &::before {
        @include ratio(225, 164);
      }

      span {
        background-image: url(../images/toy-02.svg);
      }
    }

    &_3 {
      bottom: 26rem;
      margin: 0 5.6rem;
      width: 29.9rem;

      &::before {
        @include ratio(299, 85);
      }

      span {
        background-image: url(../images/toy-03.svg);
      }
    }
  }
}
