.tooltipster-base {
  &.tooltipster-style {
    z-index: 88 !important;
    transform-origin: center bottom;

    .tooltipster-box {
      background: #fff;
      border-radius: 1rem;
      border: 1px solid #e7eae9;
    }

    .tooltipster-content {
      @include font-alt;
      color: $text-color;
      text-align: center;
      padding: 1rem 2rem;
    }

    &.tooltipster-top {
      .tooltipster-arrow {
        bottom: -1px;
      }

      .tooltipster-arrow-border {
        border-top-color: #e7eae9;
      }

      .tooltipster-arrow-background {
        border-top-color: #fff;
      }
    }

    &.tooltipster-bottom {
      .tooltipster-arrow {
        top: -1px;
      }

      .tooltipster-arrow-border {
        border-bottom-color: #f8e71c;
      }

      .tooltipster-arrow-background {
        border-bottom-color: #6e52dd;
      }
    }
  }
}