.ctrl {
  &__btn-catalog {
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: block;
    padding: 5.8rem 2rem 2rem;
    @include font-medium;

    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: $highlight-color;
    box-shadow: 0 1px 6px rgba(#000, 0.110386);
    border-radius: 1.1rem;
    transition: all $animation-speed;

    @include below($xl) {
      padding: 6.2rem 2rem 1.6rem;
    }

    @include below($lg) {
      padding: 4rem 1rem 1rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
      display: none;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    &::before {
      border-radius: inherit;
      background-color: $highlight-color_hover;
      will-change: transform;
      transform-origin: top left;
      transition: all $animation-speed;
      opacity: 0;
      transform: translateZ(0) scaleX(0);
    }

    span {
      display: inline-block;
      position: relative;
      z-index: 1;
    }

    &::after {
      background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzNCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAzQzAgMS4zNDMxNSAxLjM0MzE1IDAgMyAwSDMxQzMyLjY1NjkgMCAzNCAxLjM0MzE1IDM0IDNDMzQgNC42NTY4NSAzMi42NTY5IDYgMzEgNkgzQzEuMzQzMTUgNiAwIDQuNjU2ODUgMCAzWiIgZmlsbD0id2hpdGUiLz48cGF0aCBkPSJNMCAxNUMwIDEzLjM0MzEgMS4zNDMxNSAxMiAzIDEySDMxQzMyLjY1NjkgMTIgMzQgMTMuMzQzMSAzNCAxNUMzNCAxNi42NTY5IDMyLjY1NjkgMTggMzEgMThIM0MxLjM0MzE1IDE4IDAgMTYuNjU2OSAwIDE1WiIgZmlsbD0id2hpdGUiLz48cGF0aCBkPSJNMCAyN0MwIDI1LjM0MzEgMS4zNDMxNSAyNCAzIDI0SDMxQzMyLjY1NjkgMjQgMzQgMjUuMzQzMSAzNCAyN0MzNCAyOC42NTY5IDMyLjY1NjkgMzAgMzEgMzBIM0MxLjM0MzE1IDMwIDAgMjguNjU2OSAwIDI3WiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=) no-repeat 50% 1.8rem;

      @include below($lg) {
        background-size: 2rem;
        background-position: 50% 1.6rem;
      }
    }

    &:hover {
      outline: none;

      &::before {
        transform: translateZ(0) scaleX(1);
        opacity: 1;
      }
    }

    &:active {
      background-color: $highlight-color_active;
      transform: translate(0, 1px);

      &::before {
        background-color: $highlight-color_active;
      }
    }
  }

  &__menu {
    position: relative;
    padding: 6rem 12rem 6rem 6rem;
    margin: -3.1rem -12rem -4.4rem -6rem;
    overflow: hidden;

    @include below($lg) {
      padding: 4rem 6.5rem 4rem 4rem;
      margin: -3.1rem -6.5rem -3.1rem -4rem;
    }

    @include below($md) {
      padding: 4rem 2rem 4rem 4rem;
      margin: -3.1rem -2rem -3.1rem -4rem;
    }
  }

  &__categories {
    $slider: &;

    position: relative;
    overflow: visible;
    height: 35.6rem;
    box-shadow: 0 1.7rem 4rem rgba(#000, 0.08);
    border-radius: 0.8rem;
    background-color: rgba(#e4eeeb, 0.8);
    
    @include below($lg) {
      height: 26rem;
      box-shadow: 0 0.5rem 2rem rgba(#000, 0.08);
    }

    @include below($md) {
      height: 21rem;
      box-shadow: 0 0.2rem 1rem rgba(#000, 0.08);
    }

    html:not(.no-js) &:not(.is-loaded) {
      opacity: 0;
      pointer-events: none;
      overflow: hidden;
    }

    .swiper-container {
      overflow: visible;
    }

    &-item {
      $item: &;

      position: relative;
      display: flex;
      align-items: center;
      height: 9.2rem;
      padding: 1rem 2.6rem;
      color: inherit;
      text-decoration: none;
      cursor: pointer;
      user-select: none;
      transition: width $animation-speed, height $animation-speed, background-color $animation-speed;
      opacity: 0;
      pointer-events: none;

      @include below($lg) {
        padding: 0.5rem 1rem;
        height: 7rem;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        right: -2rem;
        width: 4.6rem;
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDYiIGhlaWdodD0iMTczIiB2aWV3Qm94PSIwIDAgNDYgMTczIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMCAxNUMwIDYuNzE1NzMgNi43NzI5OSAwIDE1LjA1NzMgMEMyMS41NzUyIDAgMjcuMzgxOCA0LjE5NzUxIDI5LjI2IDEwLjQzOUMzNC45MDc2IDI5LjIwNjQgNDYgNjguMzc0NyA0NiA4Ni41QzQ2IDEwNC42MjUgMzQuOTA3NiAxNDMuNzk0IDI5LjI2IDE2Mi41NjFDMjcuMzgxOCAxNjguODAyIDIxLjU3NTIgMTczIDE1LjA1NzMgMTczQzYuNzcyOTkgMTczIDAgMTY2LjI4NCAwIDE1OFYxNVoiIGZpbGw9IiNGRTZDNTMiLz48L3N2Zz4=) no-repeat center / 100% 100%;
        transition: all $animation-speed;
        transform: scale(0.8, 1);
        opacity: 0;
      }

      &.visible {
        opacity: 1;
        pointer-events: auto;
      }

      &.current {
        height: 17.2rem;
        background: #fafafa;
        box-shadow: 0 1.7rem 4rem rgba(#000, 0.1);
        border-radius: 0 2rem 2rem 0;

        @include below($lg) {
          height: 12rem;
          border-radius: 0 1rem 1rem 0;
          box-shadow: 0 0.5rem 2rem rgba(#000, 0.1);
        }

        @include below($md) {
          height: 7rem;
          box-shadow: 0 0.2rem 1rem rgba(#000, 0.1);
        }

        &:first-child {
          border-top-left-radius: 0.8rem;
        }

        &:last-child {
          border-bottom-left-radius: 0.8rem;
        }
      }

      &.active {
        width: calc(100% + 6.4rem);

        @include below($lg) {
          width: calc(100% + 4rem);
        }

        @include below($md) {
          width: calc(100% + 1rem);
        }

        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }

      &:focus,
      &:hover {
        outline: none;
      }

      &-title {
        @include font-alt-bold;

        font-size: 2.1rem;
        line-height: 2.6rem;
        color: $text-color;
        word-break: normal;
        margin-bottom: -0.4rem;

        @include below($lg) {
          font-size: 1.4rem;
          line-height: 2rem;
        }

        #{$item}.active & {
          font-size: 3.2rem;
          line-height: 4rem;
          color: #303030;

          @include below($lg) {
            font-size: 2rem;
            line-height: 2.4rem;
          }

          @include below($md) {
            font-size: 1.4rem;
            line-height: 2rem;
          }
        }
      }

      &-text {
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-bottom: -0.4rem;
        color: #9e9e9e;

        @include below($lg) {
          font-size: 1.4rem;
          line-height: 2rem;
        }

        #{$item}.active & {
          font-size: 1.6rem;
          line-height: 2.5rem;
          letter-spacing: 0.12em;
          color: #929c9a;

          @include below($lg) {
            font-size: 1.4rem;
            line-height: 2rem;
            letter-spacing: normal;
          }
        }
      }
    }
  }

  &__prev,
  &__next {
    $size: 4.6rem;

    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $size;
    width: $size;
    margin: 0 auto;
    color: black;
    border-radius: $size;
    background-color: white;
    transition: all $animation-speed;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 2px rgba(#000, 0.27);

    @include below($lg) {
      $size: 4rem;

      height: $size;
      width: $size;
      border-radius: $size;
    }

    &::before {
      content: "";
      display: block;
      width: 2rem;
      height: 1.4rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    // :hover
    &:hover {
      outline: none;
    }

    &:not(.swiper-button-disabled):hover {
      background-color: $highlight-color;
    }

    // :active
    &:not(.swiper-button-disabled):active {
      transform: scale(0.9);
    }

    // Disabled
    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }

  &__prev {
    margin-bottom: 2.1rem;

    @include below($lg) {
      margin-bottom: 1rem;
    }

    &::before {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyMSAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMyAxMUwxMC41ODY5IDNMMTggMTEiIHN0cm9rZT0iI0IxQkNCOCIgc3Ryb2tlLXdpZHRoPSI1IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=);
    }
  }

  &__next {
    margin-top: 1.6rem;

    @include below($lg) {
      margin-top: 1rem;
    }

    &::before {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMSAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMyAzTDEwLjU4NjkgMTJMMTggMyIgc3Ryb2tlPSIjQjFCQ0I4IiBzdHJva2Utd2lkdGg9IjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==);
    }
  }
}
