.cloud {
  position: absolute;
  pointer-events: none;
  user-select: none;
  //z-index: -1;
  z-index: 1;

  @include below($xl) {
    display: none;
  }

  &::before {
    content: '';
    display: block;

    @include ratio(502, 383);
  }

  &_right-top {
    right: -5.7rem;
    top: -2.1rem;
    width: 38.4rem;
  }

  &_left-center {
    left: 4.9rem;
    top: 39rem;
    width: 50.3rem;
  }

  &_left-bottom {
    left: -9rem;
    bottom: -3rem;
    width: 38.4rem;

    .layout-side & {
      left: -22rem;
    }
  }

  img {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
