.menu-app {
  background-color: $bg-color-alt;

  @include below($lg) {
    height: 100%;
    padding: #{$header-height_sm} 0 0;
  }

  &__main {
    @include below($lg) {
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__layout {
    padding: 2rem 1.6rem;

    @include below($lg) {
      padding: 2rem;
    }
  }

  &__header {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $header-height_sm;
    padding: 0.5rem #{$layout-page-space_xl} 0.5rem #{$header-height_sm};
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: bold;
    align-items: center;
    border-bottom: 1px solid $border-color;

    @include below($lg) {
      display: flex;
      padding-right: #{$layout-page-space_lg};
    }

    @include below($md) {
      padding-right: $layout-page-space_sm;
    }
  }

  &__close {
    height: $header-height_sm;
    width: $header-height_sm;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    z-index: 20;
    display: none;

    @include below($lg) {
      display: block;
    }

    @include below($md) {
      width: 5.4rem;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 2.4rem;
      width: 2.4rem;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB4PSI0LjQxNDE4IiB5PSIzIiB3aWR0aD0iMjQiIGhlaWdodD0iMiIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgNC40MTQxOCAzKSIgZmlsbD0iYmxhY2siLz48cmVjdCB4PSIzIiB5PSIyMCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjIiIHRyYW5zZm9ybT0icm90YXRlKC00NSAzIDIwKSIgZmlsbD0iYmxhY2siLz48L3N2Zz4=);
      background-size: contain;
    }
  }

  &-switcher {
    $size: 4.2rem;

    display: none;
    position: relative;
    height: $size;
    width: $size;
    min-width: $size;
    margin: 0 0 0 0.5rem;
    font-size: 0;
    line-height: 0;
    transition: transform $animation-speed;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    @include below($lg) {
      display: block;
    }

    &.menu-app-is-open {
      transform: rotate(0.5turn);
    }

    &::before {
      $size: 2rem;

      content: '';
      display: block;
      position: absolute;
      right: 50%;
      top: 50%;
      height: $size;
      width: $size;
      border-radius: $size;
      margin: -#{round-float($size / 2, 1)};
      background: $bg-color url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEuNjY2MTQgMUw2LjI1ODg2IDZMMTAuNjMxMiAxIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==) no-repeat center / 1.2rem;
      transition: background-color $animation-speed;
    }
  }
}
